# IDE-s #
.idea

.DS_Store

# Node Files #
/node_modules
/bower_components
npm-debug.log
copy_crm.sh

/coverage

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
ng2-rest.js
ng2-rest.js.map

/copy
/typings
/js
 