node_modules
tmp*
dist*
bundle*
browser
backup
module
www
Thumbs.db
.DS_Store
npm-debug.log*
.sass-cache
.sourcemaps
tslint.json
.editorconfig
index.js
index.d.ts
index.js.map
.vscode/launch.json
run.js
src/typings.d.ts
tsconfig.json
tsconfig.browser.json
