# IDE-s #
.idea

# Node Files #
/node_modules
/bower_components
npm-debug.log
copy_crm.sh

/copy
/coverage
/dist
/.vscode
/config
/scripts

# can use belowe becouse issiue
# https://github.com/angular/angular-cli/issues/3426

/src/**/*.ts
index.ts
!/src/**/*.d.ts

/docs
/preview
/typings

karma.conf.js
webpack.config.js
protractor.conf.js
tsconfig.json
tslint.json
tsconfig.webpack.json
karma-shim.js
/src/test
