# IDE-s #
.idea

# Node Files #
/node_modules
/bower_components
npm-debug.log
copy_crm.sh

/copy
/coverage

# can use belowe becouse issiue
# https://github.com/angular/angular-cli/issues/3426
# /src/**/*.ts
# !/src/**/*.d.ts
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

/docs
/preview
/typings

