/node_modules
/tnp-system-path.txt
/tmp*
/dist*
/bundle*
/browser
/browser*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/.npmrc
/tslint.json
/.editorconfig
/environment.d.ts
