# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/node_modules
/tmp*
/dist*
/bundle*
/browser
/browser*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/.vscode/launch.json
/.vscode/tasks.json
/.npmrc
/tslint.json
/.editorconfig
/environment.d.ts
/.vscode/launch.json.filetemplate
/.vscode/tasks.json.filetemplate




# =====================
*.filetemplate
