/node_modules
/tnp-system-path.txt
/tmp*
/dist*
/bundle*
/browser
/browser*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/tsconfig.json
/.npmrc
/tslint.json
/.editorconfig
/index.js
/index.d.ts
/index.js.map
/.vscode/launch.json
/tsconfig.browser.json
/webpack.config.js
/run.js
/tsconfig.json.filetemplate
/src/typings.d.ts
/src/entities.ts
/src/controllers.ts
/index.js
/index.d.ts
/index.js.map
/.vscode/launch.json
/tsconfig.browser.json
/webpack.config.js
/run.js
/tsconfig.json.filetemplate
/src/typings.d.ts
