<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script charset="UTF-8"
 src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/go.min.js"></script>

<div class="container">
  <br>
  <nav>
      <a md-button
      [routerLink]=" ['./sockets'] "
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"> Sockets </a>
      <a md-button
         [routerLink]=" ['./demo2'] "
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> Resource </a>
      <a md-button
         [routerLink]=" ['./cache-request'] "
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> CacheRequest</a>

  </nav>
  <br>

  <main>
      <router-outlet></router-outlet>
  </main>
</div>

