<div class="container">
  <br>
  <nav>
      <a md-button
      [routerLink]=" ['./sockets'] "
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"> Sockets </a>
      <a md-button
         [routerLink]=" ['./demo2'] "
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> Resource </a>
      <a md-button
         [routerLink]=" ['./cache-request'] "
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> CacheRequest</a>

  </nav>
  <br>

  <main>
      <router-outlet></router-outlet>
  </main>
</div>

